body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
	50% {
		background-position: 50% 40%
	}
	50% {
		background-position: 100% 5%
	}
	50% {
		background-position: 30% 50%
	}
}

p{
	
	
	
	
	color: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;


}
.shlomo {
width: 1003px;
}

h4{
letter-spacing: -14px;
}